<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>嘉兴银行CMS</title>
    <script type="text/javascript" src="/jquery-easyui-1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="/jquery-easyui-1.4.4/plugins/jquery.tooltip.js"></script>
	<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.4.4/themes/metro/tooltip.css" />
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.4.4/themes/metro/easyui.css?20160408703"></link>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.4.4/themes/icon.css"></link>
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/sweetalert-1.1.1/sweetalert.css">
</head>
<body>
$screen_content
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/sweetalert-1.1.1/sweetalert.min.js"></script>
</body>
</html>
